// Fonts
@import url('https://fonts.bunny.net/css?family=poppins&family=roboto');

// Variables
@import 'variables';

// Bootstrap Layers
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Phonska
@import 'phonska';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// DataTables
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';

:root {
    --dt-row-selected: 26, 93, 26; // $phonska-primary
}

.page-link {
    color: $phonska-primary !important;
    box-shadow: none !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: $phonska-white !important;
    background-color: $phonska-primary;
    border-color: $phonska-primary;
}

table {
    border-color: $phonska-border !important;
}

th,
td {
    background-color: $phonska-table !important;
}

.dataTables_filter {
    padding-bottom: 1rem;
}

.dataTables_wrapper>.row:nth-child(4) {
    margin-top: 1rem;
}

.phonska-form-control {
    width: 100%;
    display: block;

    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    color: $phonska-white;
    border: 2px solid $phonska-border;
    background: linear-gradient(90deg, $phonska-lighter-gray, $phonska-border);

    &:focus {
        outline: 2px solid $phonska-white;
        offset: 1px;
    }
}

.phonska-form-select {
    width: 100%;
    display: block;

    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    color: $phonska-white;
    border: 2px solid $phonska-border;
    background: linear-gradient(90deg, $phonska-lighter-gray, $phonska-border);

    &:focus {
        outline: 2px solid $phonska-white;
        offset: 1px;
    }
}

.btn-phonska {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    color: $phonska-white;
    background: $phonska-secondary;

    &:hover {
        color: $phonska-white;
        background: lighten($phonska-secondary, 5%);
    }
}

.nav-item.active {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    background: $phonska-secondary;
}

.img-phonska {
    width: 100%;
    border: none;
    display: block;
    aspect-ratio: 4/3;
    border-radius: 0.5rem;
    background: $phonska-muted;
    object-fit: cover;
    object-position: center;
}

.img-preview {
    width: 100%;
    border: none;
    display: block;
    aspect-ratio: 4/3;
    border-radius: 0.5rem;
    background: $phonska-muted;
    object-fit: cover;
    object-position: center;
}